[Unit]
Description=GoAccess real-time web log analysis
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/var/run/goaccess.pid
ExecStart=/usr/bin/goaccess --real-time-html --ws-url=ws://moni.hitradex.com:80/ws -o /var/www/goaccess/index.html --port=7890 --config-file=/etc/goaccess/goaccess.conf -g --origin=http://moni.hitradex.com
ExecStop=/bin/kill -9 ${MAINPID}
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
